<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    {% for book in Kitob %}-->
<!--        <hr>Nom :  {{ book.nom }}, Janri :  {{book.janr}}, Sahifasi :  {{book.sahifa}}</hr>-->
<!--    {% endfor %}-->

    {% for book in Badiy %}
        <hr>Nom :  {{ book.nom }}, Janri :  {{book.janr}}, Sahifasi :  {{book.sahifa}}</hr>
    {% endfor %}


<!--    <h1>Tanlangan Kitob ma'lumotlari</h1>-->
<!--    <br>-->
<!--    <h1>Nom: {{ Kitob.nom }}</h1>-->
<!--    <h1>Janr: {{Kitob.janr}}</h1>-->
<!--    <h1>Sahifa : {{Kitob.sahifa}}</h1>-->
<!--    <h1>Muallif : {{Kitob.muallif}}</h1>-->
</body>
</html>