<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kitoblar</title>

</head>
<body>

<!--    <form>-->
<!--        <input name="nom" type="text" placeholder="Kitob nomini yozing">-->
<!--        <button>Qidirish</button>-->
<!--    </form>-->

    <h1>Hamma kitoblar ro'yhati</h1>
    <br>
    <br>
    <br>

    {% for book in books %}
    <h2>{{ book.nom }},{{ book.janr }}</h2>
    {% endfor %}
    <br>
    <br>
    <br>
    <br>
     <form method="post">{% csrf_token %}
        <input type="text" name="nom" placeholder="Nomi: ">
         <select name="janr">
             <option>"Badiy"</option>
             <option>"Ilmiy"</option>
             <option>"Sarguzasht"</option>
             <option>"Dramma"</option>
         </select>
        <input type="number" name="sahifa" placeholder="Sahifa soni: " min="10">
         <select name="m">
             {% for muallif in mualliflar%}
             <option value="{{ muallif.id}}">{{muallif.ism}}</option>
             {% endfor %}
         </select>


        <button>Qo'shish</button>
    </form>


<!--    {% for book in books %}-->
<!--        <hr>{{ book.nom }},{{book.muallif.ism}}<a href="/kitob_ochir/{{book.id}}/"><button>o'chirish</button></a></hr>-->
<!--    {% endfor %}-->
<!--    <hr></hr>-->



</body>
</html>