<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <br>
        <h1>Tahrirlash</h1>
        <br>
        <br>
        <form method="post" >{% csrf_token %}
            <label>Qaytardi:</label>
            <input name="qaytardi" type="checkbox" value="{{record.qaytardi}}">

            <label>Qaytarish sanasi:</label>
            <input name="q_sanasi" type="date" value="{{record.qaytarish_sana}}">

            <button type="submit">Tahrirlashni amalga oshirish</button>
        </form>
        <br>
        <br>
</body>
</html>