<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1 {
  color: red;
}
        h2 {
  color: #944E63;
}
        label{
  color: #492E87;
}


    </style>
</head>
<body>
<p>Ma'lumotlarni qidirish</p>
<br>
    <form>
        <input name="ism" type="text" placeholder="Talaba ismini yozing">
        <button>Qidirish</button>
    </form>
<!--        {% for student in talaba %}-->
<!--            <h1>{{student.id}},{{ student.ism }},{{student.kurs}},{{student.kitob_soni}} <a href="/talaba_ochir/{{student.id}}/"><button>o'chirish</button></a><a href="/talaba/{{student.id}}/tahrirlash/"><button>Tahrirlash</button></a></h1>-->

<!--        {% endfor %}-->
    <br>
    <p>Ma'lumorlrni qo'shish</p>
    <br>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
<!--        <input type="text" name="ismi" placeholder="Talaba ismi">-->
<!--        <input type="text" name="k" placeholder="Kurs">-->
<!--        <input type="text" name="k_s" placeholder="Kitoblar soni">-->
        <button>Qo'shish</button>
    </form>
    <br>
    <br>
    <br>
        <h1 style="color=red">Hamma talabalar ro'yhati </h1>
    <br>

<!--        {% for student in talaba %}-->
<!--            <h1>{{ student.ism }},{{student.kurs}},{{student.kitob_soni}}</h1>-->
<!--        {% endfor %}-->

<!--        {% for student in talaba %}-->
<!--            <h1>{{ student.ism }},{{student.kurs}},{{student.kitob_soni}}</h1>-->
<!--        {% endfor %}-->

        {% for student in talaba %}
            <h2>{{ student.ism }},{{student.kurs}}</h2>
        {% endfor %}
</body>
</html>